@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:ital,wght@0,500;0,600;1,100;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #b7f8e5;
}

.container {
    position: relative;
    width: 100%;
    height: 750px;
    
    /* 1 vh=1% */
    /* background-color: rgb(99, 171, 199); */
    background-image: url(./images/backgro.webp);
    background-size: cover;
    background-size: 100% 100%;
    

}

nav {
    display: flex;
    width: 90%;
    
    margin-top: 5px;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}

nav .logo {
    width: 70px;
    height: 70px;
    margin-top: 10px;
    border-radius: 50%;
}

nav ul li {
    display: inline-block;
    margin: 10px 20px;


}

nav ul li a {
    text-decoration: none;
    color: rgb(15, 145, 232);
    font-weight: bold;
}

/* psudo class -to get specialm effect on mouse hover
selector:pseudo-class-name{property:value} */
nav ul li a:hover{
    color: rgb(163, 211, 237);
}

.title {
    margin-left: 8%;
    margin-top: 13%;
}

.title h1 {
    font-size: 50px;
    color: rgb(12, 128, 222);
    margin-bottom: 20px;


}
.title p{
    color: #93e7ce;
}

.title span {
    color: #f47272;
    line-height: 30px;
}

.title a {
    background-color: black;
    padding: 10px 18px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
.title  :hover{
    box-shadow: #e9fcf4;
    color: #b7f8e5;
}

.images {
    width: 45%;
    height: 60%;
    position: absolute;
    right: 80px;
    bottom: 40px;

}

#about {
    margin-right: 8%;
    margin-top: 13%;
    margin-left: 8%;
    
}

.heading {
    text-align: center;
}

.heading h2 {
    font-size: 40px;

}

.heading span {
    font-size: 25px;
    color: rgb(7, 1, 190);
}

.about-content {
    display: grid;
    padding-top: 50px;
    grid-template-columns: repeat(2, 1fr);
}
.images{
    width: 70;
    height: 70;
    border-radius: 10px;
}

.about-img img {
    width: 50%;

    border-radius: 10px;
}

.about-text {
    font-size: 18px;
    font-weight: 500;
    text-align: justify;
    
}

.informatin {
    margin: 1rem 0 1.4rem;
}

.information .info-box {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

}

.information .info-box span {
    font-weight: 500;
    margin-left: 15px;
}
#skills{
    margin-left: 8%;
    margin-top: 13%;
    margin-right: 8%;
}
.skill-container{
    display: grid;
    padding-top: 50px;
    grid-template-columns: repeat(2,1fr);
    align-items: center ;
    gap: 2rem;
}
.skill-img img{
    width: 70%;
    object-position: center;
    padding-left: 4rem;
    border-radius: 10%;
}

.skill-bars{
    padding: 25px 30px;
    width: 600px;
    background: #475278;
    
    border-radius: 10px;
    }
    .skill-bars .bar{
    margin: 20px 0;
    }
    .skill-bars .bar:first-child{
    margin-top: 0px;
    }
    .skill-bars .bar .info{
    margin-bottom: 5px;
    }
    .skill-bars .bar .info span{
    font-weight: 500;
    font-size: 17px;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
    color: aliceblue;
    }
    @keyframes showText {
    100%{
      opacity: 1;
    }
    }
    .skill-bars .bar .progress-line{
    height: 10px;
    width: 100%;
    background:  #f0f0f0;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;

    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
                0 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    }
    @keyframes animate {
    100%{
      transform: scaleX(1);
    }
    }
    .bar .progress-line span{
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background:  #6665ee;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    }
    .bar .progress-line.html span{
    width: 90%;
    }
    .bar .progress-line.css span{
    width: 88%;
    }
    
    .bar .progress-line.python span{
    width: 65%;
    }
    .bar .progress-line.mysql span{
    width: 50%;
    }
    .progress-line span::before{
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
    }
    .progress-line span::after{
    position: absolute;
    top: -28px;
    right: 0;
    font-weight: 500;
    background: #000;
    color: #fff;
    padding: 1px 8px;
    font-size: 12px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
    }
    @keyframes showText2 {
    100%{
      opacity: 1;
    }
    }
    .progress-line.html span::after{
    content: "90%";
    }
    .progress-line.css span::after{
    content: "88%";
    }
    
    .progress-line.python span::after{
    content: "65%";
    }
    .progress-line.mysql span::after{
    content: "50%";
    }

#contact{
    margin-left: 8%;
    margin-top: 13%;
    margin-right: 8%;

}
.wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    background:transparent ;
    padding-top: 50px;
    gap: 40px;
    }
    
    .wrapper .icons{
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
    z-index: 2;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    object-position: center;
    backdrop-filter: blur(5px);
    }
    
    .wrapper .icons span{
    display: block;
    height: 60px;
    width: 60px;
    background: transparent;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #000;
    }
    
    .wrapper .icons span i{
    line-height: 60px;
    font-size: 26px;
    }
    
    .wrapper .icons .tooltip {
    position: absolute;
    top: 0;
    z-index: 1;
    background: #ffffff;
    color: #ffffff;
    padding: 6px 14px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    
    .wrapper .icons:hover .tooltip{
    top: -60px;
    opacity: 1;
    pointer-events: auto;
    }
    
    
    .wrapper .icons:hover span{
    color: #ffffff;
    }
    
    .wrapper .icons:hover span,
    .wrapper .icons:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
    }
    
    .wrapper .linkedin:hover span,
    .wrapper .linkedin:hover .tooltip{
    background: #3b5999;
    
    }
    
    .wrapper .instagram:hover span,
    .wrapper .instagram:hover .tooltip{
    background: #e1306c;
    }
    
    .wrapper .github:hover span,
    .wrapper .github:hover .tooltip{
    background: #33b7ef;
    }
    
    .wrapper .whatsapp:hover span,
    .wrapper .whatsapp:hover .tooltip{
    background: #1ec800;
    }
    footer{
        margin-top: 2rem;
        font-weight: bolder;
    }
     
    @media(max-width: 600px){
        #about {
           
            padding-top: 500px;
            
            
        }
        .skill-bars{
            
            width: 300px;
        }
        .skill-container{
            display: block;
        }
        footer{
            font-size: xx-small;
        }
        .about-text {
            font-size: 10px;
            padding-right: 80px;
        }

        .wrapper{
            size: 100px;
            gap: 0px;
            }
            #contact{
                margin-left: 4%;
                margin-top: 13%;
                margin-right: 4%;

            
            }
            
            


        
    }